services:
  price-history:
    build: .
    container_name: price-history
    environment:
      API_PORT: 8003
      REDIS_URL: redis://:${REDIS_PASSWORD}@redis:6379
      BINANCE_BASE_URL: "${BINANCE_BASE_URL}"
    networks:
      - backend-network
    restart: unless-stopped

networks:
  backend-network:
    external: true
    name: backend-network
