services:
  price-history:
    build: .
    container_name: price-history
    ports:
      - "8004:8000"
    environment:
      REDIS_URL: redis://redis:6379
      BINANCE_BASE_URL: https://api.binance.com
    networks:
      - backend-network
    restart: unless-stopped

networks:
  backend-network:
    external: true
    name: backend-network
