services:
  price-history:
    build: .
    container_name: price-history
    environment:
      API_PORT: 8004
      REDIS_URL: redis://:${REDIS_PASSWORD}@redis:6379
      BINANCE_BASE_URL: "${BINANCE_BASE_URL}"
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_AI_USER}:${POSTGRES_AI_PASSWORD}@timescaledb-ai:5432/${POSTGRES_AI_DB}
    networks:
      - backend-network
    restart: unless-stopped

networks:
  backend-network:
    external: true
    name: backend-network
